.guests-container__item {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.places {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 31px;
    cursor: pointer;
}

.guests-container__name {
    font-size: 24px;
    margin-top: 24px;
    text-align: start;
    color: var(--button-color);
}

.guests-container__place {
    font-size: 24px;
    margin-top: 24px;
    text-align: start;
    color: var(--gray-line);
}

.guests-container__navigation {
    display: flex;
    justify-content: space-around;
    gap: 17px;
    margin: 106px 0 117px 0;
    position: relative;
}

.guests-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--light-blue);
}