:root {
  --general-white: #ffffff;
  --accent-yellow: #f5bd41;
  --text-color: #383838;
  --button-color: #3077c6;
  --general-blue: #10367c;
  --gray-line: #bfbfbf;
  --light-blue: #eaf0f9;
  --stroke-color: #f3f3f4;
  --light-gray: #e5e5e5;
  --shadow-color: #000000;
  --carousel-color: #333333;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1265px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.guests-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--light-blue);
}

.guests-container__title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.guests-container__heading-title {
  font-size: 40px;
  margin-top: 107px;
  height: 47px;
  text-align: center;
}

.guests-container__navigation {
  display: flex;
  justify-content: space-around;
  gap: 17px;
  margin: 106px 0 117px 0;
  position: relative;
}

.guests-container__item {
  display: flex;
  flex-direction: column;
  width: 25%;
}